@{
    ViewBag.Title = "BasicJqueryFileUpload";
}
<script src="~/Scripts/jquery.ui.widget.js"></script>
<script src="~/Scripts/Plugins/jquery-fileUpload/jquery.iframe-transport.js"></script>
<script src="~/Scripts/Plugins/jquery-fileUpload/jquery.fileupload.js"></script>
<h2>BasicJqueryFileUpload</h2>

  <!-- The fileinput-button span is used to style the file input field as button -->
@*<span class="btn btn-success fileinput-button">
    <i class="glyphicon glyphicon-plus"></i>
    <span>Select files...</span>*@
    <!-- The file input field used as target for the file upload widget -->
    <input id="fileupload" type="file" name="files[]" multiple>
    <!-- The container for the uploaded files -->
    <div id="files" class="files"></div>
@*</span>*@
<br>
<br>
<!-- The global progress bar -->
<div id="progress" class="progress">
    <div class="progress-bar progress-bar-success"></div>
</div>

<script type="text/javascript">
    $(function () {
        'use strict';
        // Change this to the location of your server-side upload handler:
        //var url = window.location.hostname === 'blueimp.github.io' ?
        //            '//jquery-file-upload.appspot.com/' : 'server/php/';
        $('#fileupload').fileupload({
            url: "/Document/Upload",
            dataType: 'json',
            done: function (e, data) {
                //$.each(data.result.files, function (index, file) {
                //    $('<p/>').text(file.name).appendTo('#files');
                //});
                $.each(data.result, function (index, file) {
                    $('<p/>').text(file.name).appendTo('#files');
                });
            },
            progressall: function (e, data) {
                var progress = parseInt(data.loaded / data.total * 100, 10);
                $('#progress .progress-bar').css(
                    'width',
                    progress + '%'
                );
            }
        }).prop('disabled', !$.support.fileInput)
            .parent().addClass($.support.fileInput ? undefined : 'disabled');
    });
</script>