@{
    ViewBag.Title = "Upload";
}

<h2>Upload</h2>
<input type="file" id="fileUpload" />
<input type="button" id="btnFileUpload" value="Upload File" />
@Html.ActionLink("Documents","Documents")

<script type="text/javascript">
    $(function(){
        $("#btnFileUpload").click(function () {
            var data = new FormData();
            var files = $("#fileUpload").get(0).files;

            if (files.length > 0) {
                data.append("UploadedImage", files[0]);
            }

            var ajaxRequest = $.ajax({
                type: "Post",
                url: "Upload/Index",
                contentType: false,
                processData: false,
                data: data
            });
            ajaxRequest.done(function (xhr, textStatus) {

            })
        })
    })
</script>