@{
    ViewBag.Title = "Index";
}

<h2>报告</h2>
时间：从<input type="text" id="startDate" />到<input type="text" id="endDate" />
<button id="searchReport" data-url="Report/GetList">查询</button>
<button id="exportReport" data-url="Report/ExportClick">导出数据</button>

@Html.Action("GetList", "Report");
<script type="text/javascript">
    $(function () {
        $("#searchReport").click(function () {
            $.post($(this).attr("data-url"), { startDate: $("#startDate").val(), endDate: $("#endDate").val() }, function (data) {
                $("#reportData").html(data);
                alert("success");
            });
            return false;
        });

        $("#exportReport").click(function () {
            $.post($(this).attr("data-url"), { startDate: $("#startDate").val(), endDate: $("#endDate").val() }, function (data) {
          
                window.location.href= data.successData;
            });
            return false;
        })
    })
</script>